<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
</head>
<body>
  <app-nav></app-nav>

  <h2 class="text-center fs-2 mt-4 skillH2">ACERCA DE MI</h2>

  <div class="d-flex justify-content-center align-items-center">

  <div class="d-flex justify-content-center align-items-center" style="width: 80%;">
    <p class="text-center acercaText">He estado desarrollando paginas webs desde 2021 donde empece con lo basico de HTML, CSS y JAVASCRIPT pero poco a poco he adquirido mas conocimiento de esta increible area y me enfocado mas en aprender en ANGULAR al igual que gracias a la universidad y sus retadores proyectos he adquirido fuertes e importantes conocimientos en SQL.</p>
  </div>
</div>

  <h2 class="text-center fs-2 mt-4 skillH2">MIS HABILIDADES</h2>

  <div class="d-flex flex-column mx-5 frontskill">

    <div class="d-flex flex-column mt-4">

      <h3 class="fs-3">FRONTEND</h3>

      <div class="d-flex flex-wrap">

        <div class="d-flex align-items-center px-3 py-1 me-2 itemSkill mt-2 frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/angular.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">Angular</span>
        </div>

        <div class="d-flex align-items-center px-3 py-1 me-2 itemts mt-2 frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/ts.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">Typescript</span>
        </div>

        <div class="d-flex align-items-center px-3 py-1 me-2 itembo mt-2 frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/b.png" alt="" class="me-2 imgSkill" style="width: 2rem; transform: scale(1.1);">
          <span class="skillName">Bootstrap</span>
        </div>

        <div class="d-flex align-items-center px-3 py-1 itemam mt-2 frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/am.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">Angular Material</span>
        </div>

      </div>

    </div>

    <div class="d-flex flex-column mt-4">
      <h3 class="fs-3">DATABASES</h3>

      <div class="d-flex">
        <div class="d-flex align-items-center px-3 py-1 itemts frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/sql.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">SQL</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column mt-4">
      <h3 class="fs-3">VERSION CONTROL</h3>

      <div class="d-flex">

        <div class="d-flex align-items-center px-3 py-1 me-2 itemgit frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/git.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">Git</span>
        </div>

        <div class="d-flex align-items-center px-3 py-1 itemgh frontItem" style="border: 1px solid black;">
          <img src="/assets/skills/github.png" alt="" class="me-2 imgSkill" style="width: 2rem;">
          <span class="skillName">Github</span>
        </div>
      </div>
    </div>
</div>


<h2 class="text-center fs-2 mt-5 skillH2">EDUCACION</h2>

<div class="d-flex flex-column ms-5 me-5 mb-5 pb-5 educItem">

  <div class="mt-4 d-flex align-items-center">

      <i class="fa-solid fa-sitemap me-2 eduIcons" style="font-size: 25px; cursor: default !important;"></i>

    <div class="d-flex flex-column">
      <span class="educText" style="cursor: default !important;">Ingeniería Informática</span>
      <span class="educText">2021-Presente</span>
      <span class="educText">UNEXCA (Universidad Nacional Experimental)</span>
    </div>

  </div>

  <div class="mt-5 d-flex align-items-center">

    <i class="fa-solid fa-sitemap me-2 eduIcons" style="font-size: 25px;"></i>

    <div class="d-flex flex-column">
      <span class="educText">Técnico superior universitario en Informática.</span>
      <span class="educText">2021-2023</span>
      <span class="educText">UNEXCA (Universidad Nacional Experimental)</span>
    </div>
  </div>

  <div class="mt-5 d-flex align-items-center">

    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-85e8cc68-2595-4000-bf3f-cef49404407d.jpg?v=1654793228000">
      <i class="fa-solid fa-certificate me-2 eduIcons" style="font-size: 25px;"></i>
    </a>

    <div class="d-flex flex-column">
        <a class="educText" href="https://udemy-certificate.s3.amazonaws.com/image/UC-85e8cc68-2595-4000-bf3f-cef49404407d.jpg?v=1654793228000">
          Desarrollo web desde cero: HTML5, CSS3 y JAVASCRIPT.
        </a>
      <span class="educText">2022</span>
      <span class="educText">UDEMY</span>
    </div>
  </div>

  <div class="mt-5 d-flex align-items-center">

    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-078b9193-f5d3-436c-b0bb-a15f427768fe.jpg?v=1686084963000">
      <i class="fa-solid fa-certificate me-2 eduIcons" style="font-size: 25px;"></i>
    </a>

    <div class="d-flex flex-column">
        <a class="educText" href="https://udemy-certificate.s3.amazonaws.com/image/UC-078b9193-f5d3-436c-b0bb-a15f427768fe.jpg?v=1686084963000">
          Angular: De cero a experto.
        </a>
      <span class="educText">2023</span>
      <span class="educText">UDEMY</span>
    </div>
  </div>

  <div class="mt-5 d-flex align-items-center">

    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-96cac5c5-ca54-4629-95e6-4f9dc6bd12b5.jpg?v=1695776388000">
      <i class="fa-solid fa-certificate me-2 eduIcons" style="font-size: 25px;"></i>
    </a>

    <div class="d-flex flex-column">
        <a class="educText" href="https://udemy-certificate.s3.amazonaws.com/image/UC-96cac5c5-ca54-4629-95e6-4f9dc6bd12b5.jpg?v=1695776388000">
          GIT+GitHub: Todo un sistema de control de versiones de cero.
        </a>
      <span class="educText">2023</span>
      <span class="educText">UDEMY</span>
    </div>
  </div>


</div>

</body>
</html>
