<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio Personal</title>
</head>
<body>
  <app-nav></app-nav>

  <h2 class="fs-1 mt-4 text-center">MIS PROYECTOS</h2>

  <div class="d-flex justify-content-center mt-5 flex-wrap proContent">

    <div class="card mx-3 d-flex flex-column Procard" style="width: 25rem; border-radius: 0%;">

      <img class="proyectImg" style="border: 4px solid #f14545;"  src="/assets/proyects/mkstore.png" alt="">

      <div class="card-body d-flex flex-column pb-0">

        <a href="https://mkclothes.netlify.app/" target="_blank">
          <h5 class="card-title fs-5 text-center proName" style="cursor: pointer;">MKClothes</h5>
        </a>

          <p class="proText">Este es una tienda online con todas sus respectivas funciones donde tendras que haber iniciado sesion para poder disfrutar de ellas y está alimentada por el FakeStoreAPI.</p>

      </div>

      <div class="d-flex justify-content-between align-items-end m-3 iconsCardPro">
        <div class="d-flex">
          <a href="https://mkclothes.netlify.app/" target="_blank">
            <i class="fa-brands fa-chrome proicons mx-1" style="font-size: 23px; color: #f14545; cursor: pointer;"></i>
          </a>

          <a href="https://github.com/MiguelR1/MKClothes" target="_blank">
            <i class="fa-brands fa-github proicons mx-1" style="font-size: 23px; color: #f14545; cursor: pointer;"></i>
          </a>

        </div>

        <div class="d-flex">
          <img src="/assets/skills/angular.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/b.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/postman.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/am.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
        </div>
      </div>

    </div>

    <div class="card mx-3 Procard" style="width: 25rem;border-radius: 0%;">
      <img class="proyectImg" style="border: 4px solid #f14545;" src="/assets/proyects/RMapi.png" alt="">
      <div class="card-body pb-0">

        <a href="https://rickmortyapi.netlify.app/" target="_blank">
          <h5 class="card-title fs-5 text-center proName" style="cursor: pointer;">Rick y Morty API</h5>
        </a>

        <p class="proText">Esta es una página desarrollada desde la API Rick and Morty donde muestra los personajes con su información detallada con la capacidad de filtrar y de buscar por su nombre, entre otras funciones.</p>

      </div>
      <div class="d-flex justify-content-between align-items-end m-3">

        <div class="d-flex">
            <a href="https://rickmortyapi.netlify.app/" target="_blank">
              <i class="fa-brands fa-chrome proicons mx-1" style="font-size: 23px; color: #f14545; cursor: pointer;"></i>
            </a>

            <a href="https://github.com/MiguelR1/RickyMortyApi" target="_blank">
              <i class="fa-brands fa-github proicons mx-1" style="font-size: 23px; color: #f14545; cursor: pointer;"></i>
            </a>

        </div>


        <div class="d-flex">
          <img src="/assets/skills/angular.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/b.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/postman.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
          <img src="/assets/skills/am.png" class="m-1 toolsPro" alt="" style="width: 1.5rem; cursor: pointer;">
        </div>

      </div>

    </div>

  </div>

</body>
</html>
